<a href="https://colab.research.google.com/github/yashpatel2711/DataScience-Series/blob/main/18IT106_DS_Prac_2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Importing Libraries

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

## Loading Dataset

In [3]:
data = pd.read_csv('/content/housing.csv')
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20640 entries, 0 to 20639
Data columns (total 10 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   longitude           20640 non-null  float64
 1   latitude            20640 non-null  float64
 2   housing_median_age  20640 non-null  int64
 3   total_rooms         20640 non-null  int64
 4   total_bedrooms      20433 non-null  float64
 5   population          20640 non-null  int64
 6   households          20640 non-null  int64
 7   median_income       20640 non-null  float64
 8   median_house_value  20640 non-null  int64
 9   ocean_proximity     20640 non-null  object
dtypes: float64(4), int64(5), object(1)
memory usage: 1.6+ MB

In [4]:
data.head(10)

   longitude  latitude  ...  median_house_value  ocean_proximity
0    -122.23     37.88  ...              452600         NEAR BAY
1    -122.22     37.86  ...              358500         NEAR BAY
2    -122.24     37.85  ...              352100         NEAR BAY
3    -122.25     37.85  ...              341300         NEAR BAY
4    -122.25     37.85  ...              342200         NEAR BAY
5    -122.25     37.85  ...              269700         NEAR BAY
6    -122.25     37.84  ...              299200         NEAR BAY
7    -122.25     37.84  ...              241400         NEAR BAY
8    -122.26     37.84  ...              226700         NEAR BAY
9    -122.25     37.84  ...              261100         NEAR BAY

[10 rows x 10 columns]

## Encoding Technique

In [5]:
from sklearn.preprocessing import LabelEncoder
data['median_house_value'].value_counts()

500001    965
137500    122
162500    117
112500    103
187500     93
         ...
32900       1
303200      1
311300      1
270400      1
41000       1
Name: median_house_value, Length: 3842, dtype: int64

In [6]:
le=LabelEncoder()
data['median_house_value']=le.fit_transform(data['median_house_value'])
data['median_house_value'].value_counts()

3841    965
959     122
1209    117
710     103
1459     93
       ...
3172      1
3275      1
3204      1
3091      1
2119      1
Name: median_house_value, Length: 3842, dtype: int64

In [7]:
le.classes_

array([ 14999,  17500,  22500, ..., 499100, 500000, 500001])

## Normalization & Standardization

In [8]:
numeric_columns = [c for c in data.columns if data[c].dtype != np.dtype('O')]
numeric_columns

['longitude',
 'latitude',
 'housing_median_age',
 'total_rooms',
 'total_bedrooms',
 'population',
 'households',
 'median_income',
 'median_house_value']

In [9]:
len(numeric_columns) , len(data.columns)

(9, 10)

In [10]:
numeric_columns.remove('longitude')
numeric_columns.remove('latitude')

temp_data = data[numeric_columns]
temp_data

       housing_median_age  total_rooms  ...  median_income  median_house_value
0                      41          880  ...         8.3252                3665
1                      21         7099  ...         8.3014                3074
2                      52         1467  ...         7.2574                3017
3                      52         1274  ...         5.6431                2917
4                      52         1627  ...         3.8462                2925
...                   ...          ...  ...            ...                 ...
20635                  25         1665  ...         1.5603                 366
20636                  18          697  ...         2.5568                 356
20637                  17         2254  ...         1.7000                 508
20638                  18         1860  ...         1.8672                 432
20639                  16         2785  ...         2.3886                 479

[20640 rows x 7 columns]

## 1. Normalization

In [11]:
from sklearn.preprocessing import StandardScaler , MinMaxScaler
import warnings
warnings.filterwarnings('ignore')
normalizer = MinMaxScaler()
temp_data.dropna(axis = 1 , inplace = True)
normalized_data = normalizer.fit_transform(temp_data)
pd.DataFrame(normalized_data , columns = temp_data.columns)

       housing_median_age  total_rooms  ...  median_income  median_house_value
0                0.784314     0.022331  ...       0.539668            0.954179
1                0.392157     0.180503  ...       0.538027            0.800312
2                1.000000     0.037260  ...       0.466028            0.785473
3                1.000000     0.032352  ...       0.354699            0.759438
4                1.000000     0.041330  ...       0.230776            0.761520
...                   ...          ...  ...            ...                 ...
20635            0.470588     0.042296  ...       0.073130            0.095288
20636            0.333333     0.017676  ...       0.141853            0.092684
20637            0.313725     0.057277  ...       0.082764            0.132257
20638            0.333333     0.047256  ...       0.094295            0.112471
20639            0.294118     0.070782  ...       0.130253            0.124707

[20640 rows x 6 columns]

## 2. Standardization

In [12]:
standard_scaler = StandardScaler()
standardized_data = standard_scaler.fit_transform(temp_data)
pd.DataFrame(standardized_data , columns = temp_data.columns)

       housing_median_age  total_rooms  ...  median_income  median_house_value
0                0.982143    -0.804819  ...       2.344766            2.023402
1               -0.607019     2.045890  ...       2.332238            1.446535
2                1.856182    -0.535746  ...       1.782699            1.390899
3                1.856182    -0.624215  ...       0.932968            1.293290
4                1.856182    -0.462404  ...      -0.012881            1.301099
...                   ...          ...  ...            ...                 ...
20635           -0.289187    -0.444985  ...      -1.216128           -1.196706
20636           -0.845393    -0.888704  ...      -0.691593           -1.206467
20637           -0.924851    -0.174995  ...      -1.142593           -1.058102
20638           -0.845393    -0.355600  ...      -1.054583           -1.132284
20639           -1.004309     0.068408  ...      -0.780129           -1.086408

[20640 rows x 6 columns]

## Handling With Missing Values

In [13]:
data.isnull().sum()

longitude               0
latitude                0
housing_median_age      0
total_rooms             0
total_bedrooms        207
population              0
households              0
median_income           0
median_house_value      0
ocean_proximity         0
dtype: int64

In [14]:
data['total_bedrooms'].isnull().sum()

207

In [15]:
from sklearn.impute import SimpleImputer
imputer = SimpleImputer(missing_values=np.nan , strategy='mean')
agent_col = imputer.fit_transform(data['total_bedrooms'].values.reshape(-1,1))
pd.DataFrame(agent_col).isnull().sum()

0    0
dtype: int64

In [16]:
data['total_bedrooms'].isnull().sum()

207

## Discretization

In [17]:
from sklearn.preprocessing import KBinsDiscretizer
temp_data.head()

   housing_median_age  total_rooms  ...  median_income  median_house_value
0                  41          880  ...         8.3252                3665
1                  21         7099  ...         8.3014                3074
2                  52         1467  ...         7.2574                3017
3                  52         1274  ...         5.6431                2917
4                  52         1627  ...         3.8462                2925

[5 rows x 6 columns]

In [18]:
trans = KBinsDiscretizer(n_bins =10 , encode = 'ordinal' , strategy='kmeans')
new_data = trans.fit_transform(temp_data)

pd.DataFrame(new_data,columns = temp_data.columns )

       housing_median_age  total_rooms  ...  median_income  median_house_value
0                     7.0          0.0  ...            6.0                 9.0
1                     3.0          4.0  ...            6.0                 7.0
2                     9.0          1.0  ...            6.0                 7.0
3                     9.0          0.0  ...            4.0                 7.0
4                     9.0          1.0  ...            3.0                 7.0
...                   ...          ...  ...            ...                 ...
20635                 4.0          1.0  ...            0.0                 0.0
20636                 3.0          0.0  ...            1.0                 0.0
20637                 3.0          1.0  ...            0.0                 1.0
20638                 3.0          1.0  ...            0.0                 1.0
20639                 2.0          2.0  ...            1.0                 1.0

[20640 rows x 6 columns]